<div style="width: 98%; margin: auto">

  <div class="row">
    <div class="col-12 text-end">
      <span class="mdi mdi-chart-bar"></span>, icona 2, icona 3
    </div>
  </div>


  <div class="row">
    <div class="col-9">

      <!-- Tabs -->
      <mat-tab-group>
        <mat-tab label="Ambulatorio Cardio">
          <!-- Calendar -->
          <!-- <div>&nbsp;</div> -->
          <div class="mt-2">
            <calendar-demo
              [events]="timeTables"
            >
          </calendar-demo>
          </div>
         </mat-tab>
        <mat-tab label="Ambulatorio Visite">
          Calendar 2
        </mat-tab>
        <mat-tab label="Ambulatorio Dermatologia">
          Calendar 3
        </mat-tab>
      </mat-tab-group>

    </div>

    <div class="col-3">

      <div style="padding-top: 12%;">

        <form action="" method="post">
          <button class="btn btn-primary mb-2" style="width: 100%;" type="button" (click)="onPlanning()">Pianifica</button>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
            <label class="form-check-label" for="flexCheckIndeterminate">
              <strong>Seleziona tutti</strong>
            </label>
          </div>
          <div class="form-check" *ngFor="let doctor of doctors">
            <input class="form-check-input" type="checkbox" value="" [id]="'chk_'+doctor.id">
            <label class="form-check-label" [for]="'chk_'+doctor.id">
              {{ doctor.name + ' ' + doctor.surname }}
            </label>
          </div>

        </form>

      </div>

    </div>
  </div>
</div>
